@using Cafe_App.Localizations
@model Cafe_App.Models.Cafe.CafeCreationViewModel

@{
    Layout = "~/Views/Shared/_LayoutCafe.cshtml";
}

@section Styles {
    <link href="~/css/cafe/create.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/js/imagePreview.js"></script>
}

<!-- enctype указан в теге form -->
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="title">@Cafe.Title</label>
        @Html.TextBoxFor(x => x.Title, new { placeholder = "Enter title", id ="title" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>
    <div>
        <label for="imageSrc">@Cafe.Image_Url</label>
        @Html.TextBoxFor(x => x.ImageSrc, new { placeholder = "Enter a way to picture", id ="imageSrc", oninput = "previewByUrl()" })
        @Html.ValidationMessageFor(x => x.ImageSrc)
    </div>
    <div>
        <label for="imageFile">@Cafe.Upload_Image</label>
        <!-- Изменено имя поля -->
        <input type="file" id="file" name="ImageFile" onchange="previewByFile()" />
        @Html.ValidationMessageFor(x => x.ImageFile)
    </div>
    <!-- Превью изображения -->
    <div id="imagePreview" style="margin-top: 20px;">
        <p>@Cafe.No</p>
    </div>
    <div>
        <label for="address">@Cafe.Address</label>
        @Html.TextBoxFor(x => x.Address, new { placeholder = "Address", id="address" })
        @Html.ValidationMessageFor(x => x.Address)
    </div>
    <div>
        <label for="rang">@Cafe.Rating</label>
        @Html.TextBoxFor(x => x.Rang, new { placeholder = "Rang", @type = "number", id="rang" })
        @Html.ValidationMessageFor(x => x.Rang)
    </div>
    <button type="submit">@Cafe.Create</button>
</form>