@using Cafe_App.Services
@model IEnumerable<Cafe_App.Models.Cafe.CafeIndexViewModel>

@{
    Layout = "~/Views/Shared/_LayoutCafe.cshtml";
}

@section Styles {
    <link href="~/css/cafe/index.css" rel="stylesheet"/>
}

@foreach (var cafe in Model)
{
    <div class="cafe-container">
        <!-- информация о кафе -->
        <div class="cafes">
            <h2 class="cafe-title">@cafe.Title</h2>
            <img src="@cafe.ImageSrc" alt="Cafe Image" class="cafe-image" />
            <p class="cafe-address">@cafe.Address</p>
            <div class="cafe-stars">
                @for (int i = 0; i < cafe.Rang; i++)
                {
                    <span>★</span>
                }
            </div>
            <p class="cafe-rating">Rating: @cafe.Rang</p>
        </div>
        
        <div style="text-align: center;">
            @if (cafe.CanDelete)
            {
                <button onclick="deleteCafe(@cafe.CafeId)" class="cafe-button cafe-button-delete">Delete</button>
            }
            else
            {
                <button onclick="moreInfo(@cafe.CafeId)" class="cafe-button cafe-button-more">Information</button>
            }
        </div>
    </div>
}
