@using Cafe_App.Localizations
@using Cafe_App.Services
@using Enums.Users
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserService userService
<!DOCTYPE html>
<html>
<head>
    <title>@Cafe.Cafe_app </title>
    <link href="~/css/cafe/style.css" rel="stylesheet" />
    <link href="~/css/cafe/button.css" rel="stylesheet" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @*<script src="~/js/ajaxHelper.js"></script> *@
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <header class="head-page">
        <div class="logotip">
            <img src="~/images/cafes/logotype.png" alt="logotype" />
        </div>
        <div class="name">@RenderSection("NameSection")</div>
        <div class="block-of-profile">
            <img src="@userService.GetAvatar()" alt="avatar" class="avatar" />
            <li><a class="log-sing" href="/Cafe/Profile">@Cafe.Profile</a></li>
        </div>
    </header>

    <!-- Меню под шапкой, такой же ширины -->
    <div class="menu-bar">
        <nav class="menu-list">
            <ul>
                <li class="menu-item"><a href="/Cafe/Index">@Cafe.Cafe_Cafes</a></li>
                <li class="menu-item"><a href="/Cafe/Chat">@Cafe.Cafe_Chat</a></li>
            </ul>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <!-- Новый элемент меню для смены языка -->
                <div class="menu-item dropdown">
                    <button class="dropbtn">@Cafe.Language</button>
                    <div class="dropdown-content">
                        <a class="nav-link text-dark" href="/Cafe/UpdateLocale?language=@Languages.En">@Cafe.English</a>
                        <a class="nav-link text-dark" href="/Cafe/UpdateLocale?language=@Languages.Ru">@Cafe.Russian</a>
                    </div>
                </div>
            }
            else
            {
                <!-- Новый элемент меню для смены языка -->
                <div class="menu-item dropdown">
                    <button class="dropbtn">@Cafe.Language</button>
                    <div class="dropdown-content">
                        <a class="nav-link text-dark unauth-lang" href="#" data-lang="@Languages.En">@Cafe.English</a>
                        <a class="nav-link text-dark unauth-lang" href="#" data-lang="@Languages.Ru">@Cafe.Russian</a>
                    </div>
                </div>
            }
        </nav>
    </div>

    <main>
        @RenderBody()
    </main>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/language.js" asp-append-version="true"></script>
</body>
</html>